{% extends 'base.html' %}
{% load static %}

{% block title %}Посты авторов, на которых мы подписаны{% endblock %}

{% block content %}
  <div class="container py-5">     
    <h1>Посты авторов, на которых мы подписаны</h1>

    {% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}
      {% include 'posts/includes/article.html' with post=post %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}